:root {
    --sectionBg: rgb(209, 209, 209);
}

.overview {
    position: absolute;
    top: 70px;
    color: black;
    // padding:0 10px;

    .first {
        padding: 10px 10px;
        background-color: var(--sectionBg);
        margin: 0 0 15px;

        aside {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            padding: 5px 0 15px;
        }


        img {
            width: 20%;
            border-radius: 100%;
            margin: 0 20px 0 0px;
        }

        aside {
            h3 {
                font-size: 22px;
                line-height: 2rem;
            }

            h4 {
                font-size: 15px;
                color: rgb(39, 35, 35);
            }
        }

        section {
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
            align-items: center;

            >p {
                font-size: 16px;
                line-height: 1.5rem;
                margin: 0 0 10px;
            }

            >div {
                display: flex;
                justify-content: flex-start;
                align-items: center;
            }
        }
    }

    .second {
        background-color: var(--sectionBg);
        padding: 20px 0px;

        aside {
            aside {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 0px 0 10px;

                p {
                    padding: 0 10px;
                }
            }

            div {
                margin: 0 0 0 10px;

                h2 {
                    margin: 0 0 0 5px;
                    padding: 10px 0;
                    font-size: 30px;
                }
            }

        }

       > ul {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex-wrap: wrap;
            padding:10px;

            li{
                // outline:2px solid red;
                padding: 10px 15px;
                margin:5px 0;
                color:white;
                font-weight: bold;
                letter-spacing: .25rem;
                border-radius:3px;
                img{
                    margin:0 5px 0 0;
                }
            }
            .purple{
                background:purple;
            }
            .black{
                background:black;
            }
            .darkblue{
                background:darkblue;
            }
            .blue{
                background:rgb(50, 50, 170);
            }
        }


        article{
            padding:5px 10px;

            > p{
                font-size:17px;
                line-height:1.4rem;
                color:rgb(0, 0, 0);
                margin:0 0 10px;
            }

            > b{
                font-size:17px;
                padding:8px 0 10px;
                display: inline-block;
            }

            ol{
                list-style-type: disc;
                padding:0 0 0 10px;

                li{
                    line-height: 1.7rem;
                    list-style:disc;
                    margin:5px 0 10px 20px;
                    font-size:16px;
                }
            }


            .tools{
                display: flex;
                justify-content:flex-start;
                align-items: center;
                flex-wrap: wrap;
                
                li{
                    width:90px;
                    margin:10px 0;
                    list-style: none;
                }
            }

            .languages{
                background-color: rgba(0, 0, 0, 0.994);
                color:white;
                padding:10px 20px;
                border-radius: 10px;
                margin:20px 0;

                b{
                    width:100%;
                    display: inline-block;
                    font-size: 20px;
                }

                // progress[value]{
                //     width:100%;
                //     margin:10px 0;
                //     appearance:none;
                // }

                // progress[value]::-webkit-progress-bar {
                //     background-color: #eee;
                //     border-radius: 50px;
                //     box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
                // }

                // progress[value]::-webkit-progress-value {
                //     // background-image:
                //         //  -webkit-linear-gradient(-45deg, 
                //         //                          transparent 33%, rgba(0, 0, 0, .1) 33%, 
                //         //                          rgba(0,0, 0, .1) 66%, transparent 66%),
                //         //  -webkit-linear-gradient(top, 
                //         //                          rgba(255, 255, 255, .25), 
                //         //                          rgba(0, 0, 0, .25)),
                //         //  -webkit-linear-gradient(40deg, rgb(147, 0, 127), rgb(236, 255, 68), rgb(255, 0, 0), rgb(135, 1, 135));
                //       border-radius: 2px; 
                //       background-size: 35px 20px, 100% 100%, 100% 100%;
                //   }

                .bar{
                    // border:2px solid red;
                    display:flex;
                    justify-content:flex-start;
                    align-items:center;
                    flex-wrap:nowrap;
                    width:100%;
                    height:10px;
                    margin:10px 0;
                    border-radius:100px;

                    div{
                        // border:2px solid red;
                        width:auto;
                        height:100%;
                    }
                    .darkpurple{
                        // border:2px solid green;
                        background-color:purple;
                        width:39.12%;
                        border-radius:10px 0 0 10px;
                    }
                    .yellow{
                        // border:2px solid green;
                        background-color:yellow;
                        width:29.74%;
                    }
                    .lightred{
                        // border:2px solid green;
                        background-color:red;
                        width:24.80%;
                    }
                    .lightpurple{
                        // border:2px solid green;
                        background-color:rgb(192, 0, 210);
                        width:6.34%;
                        border-radius: 0 20px 20px 0;
                    }
                }

                .langs{
                    display:flex;
                    justify-content:flex-start;
                    align-items:center;
                    flex-wrap:wrap;
                    padding:10px 0 20px;

                    li{
                        width:50%;
                        font-size:14px;

                        small{
                            font-size:14px;
                            margin:0 0 0 10px;
                        }
                    }
                }
            }
        }
    }
}