main{
    position: absolute;
    top:70px;
    width:100%;

    .repsOverview{

        // .first{
        //     padding:10px 10px;
        //     aside {
        //         display: flex;
        //         justify-content: flex-start;
        //         align-items: center;
        //         padding: 5px 0 15px;
        //         img {
        //             width: 20%;
        //             border-radius: 100%;
        //             margin: 0 20px 0 0px;
        //         }
    
                
    
        //         h3 {
        //             font-size: 22px;
        //             line-height: 2rem;
        //         }
    
        //         h4 {
        //             font-size: 15px;
        //             color: rgb(39, 35, 35);
        //         }
        //     }

        //     >section {
        //         >p {
        //             font-size: 16px;
        //             line-height: 1.5rem;
        //             margin: 0 0 10px;
        //         }
    
        //         section {
        //             display: flex;
        //             flex-wrap: wrap;
        //             justify-content: flex-start;
        //             align-items: center;
    
        //             >div {
        //                 display: flex;
        //                 justify-content: flex-start;
        //                 align-items: center;
        //                 margin:5px 5px;
        //             }
        //         }

        //     }
    
        // }

        .first {
        padding: 10px 10px;
        background-color: var(--sectionBg);
        margin: 0 0 15px;

        aside {
            img {
                width: 20%;
                border-radius: 100%;
                margin: 0 20px 0 0px;
            }

            display: flex;
            justify-content: flex-start;
            align-items: center;
            padding: 5px 0 15px;

            h3 {
                font-size: 22px;
                line-height: 2rem;
            }

            h4 {
                font-size: 15px;
                color: rgb(39, 35, 35);
            }
        }




        >section {
            >p {
                font-size: 16px;
                line-height: 1.5rem;
                margin: 0 0 10px;
            }

            section {
                display: flex;
                flex-wrap: wrap;
                justify-content: flex-start;
                align-items: center;

                >div {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                }
            }

        }
    }

        .afterProfile{
            article{
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding:20px 10px;
                width:100%;
                a{
                    line-height: 1.8rem;
                    text-decoration: none;
                    font-size: 18px;
                    font-weight: bolder;
                    margin:0 15px 15px 0;
                    width:100%;
                    // border:2px solid red;
                }
                .privacy{
                    border:1px solid lightgray;
                    width: auto;
                    padding:3px 8px;
                    border-radius: 20px;
                }

                p{
                    b{
                        font-size:14px;
                        display:inline-block;
                        margin:10px 5px 10px 0;
                    }
                }

                button{
                    padding:5px;
                    border-radius:3px;
                    border:none;
                    outline:none;
                    box-shadow:2px 4px rgba(0, 0, 0, 0.141);
                    small{
                        display:flex;
                        justify-content:center;
                        align-items:center;

                        img{
                            width:18px;
                            margin:0 5px 0 0;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width:1000px){
    main{
        flex-direction:column;

        .repsOverview{
            display:flex;
            justify-content:space-between;

            .first {
                padding: 30px 20px;
                width:30%;
                height: 100vh;
                background-color: white;
                // border:2px solid red;
                margin:0 20px 0 0;

                aside {
                    flex-direction: column;
                    align-items:flex-start;

                    img {
                        margin: 0 0 20px;
                        width: 90%;
                        border: 2px solid rgb(187, 187, 187);
                    }

                    h3 {
                        font-size: 30px;
                    }

                    h4 {
                        font-size: 20px;
                        font-weight: lighter;
                    }
                }

                >section {
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: flex-start;

                    > section{
                        display: flex;
                        width:100%;

                        > div{
                            width:45%;

                            b{
                                margin:0 5px;
                            }
                        }
                    }
                }

            }

            .afterProfile{
                width:65%;
                a{
                    margin:5px 0 25px 0;
                }

                p{
                    margin:10px 0 0;
                }
            }
        }
    }
}